.app {
    text-align: center;
    margin-top: 20px;
  }
  
  .start-screen input {
    padding: 8px;
    font-size: 16px;
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }